*{
    margin: 0;
    padding: 0;
}
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Share style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}

.text-dark1 {
    color: #A3A3A3;
}

.text-dark2 {
    color: #474747;
}
.text-center{
    text-align: center;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.section-title{
    font-size: 20px;
    font-weight:bold;
    color: #181818;
}
.section-description{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
    padding: 30px 0;
}
/* Nav Styles */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top 40px left, bottom right;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px 50px 200px;
    padding-top:50px;
}

ul {
    display: flex;

}

ul li {
    margin-right: 50px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #A3A3A3;
    font-size: 20px;

}


.nav-title {
    font-size: 45px;
    font-weight: 800;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 200px;
}
.banner-content{
    max-width: 585px;
}
.bammer-gretting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-title {
    color: black;
    font-size: 85px;
    font-weight: bold;
}

.banner-des {
    font-size: 18px;
    font-weight: normal;
    padding: 40px 0px;
}


.right_side-img img {
    width: 584px;

}

/* main style*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

.main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about */
.about{
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}

/* skills */

.skill-container{
    display: flex;
    gap: 25px;
}
.skill{
    padding:30px;
    border-radius: 5px;
    box-shadow:0px 6px 50px 0 rgba(0, 0, 0, 0.06);
}


/* resume-section style*/
.resume-section-title{
    padding: 120px 0px;
    font-size: 35px;
    font-weight: bold;
    color:#181818;
}
.resume-container{
    display: flex;
    gap: 24px;
}

.resume-colume-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.experience-title{

}
.experience-subtitle{
    padding-bottom: 20px;
}
.experience-descripton{

}
.resume-colume hr{
    margin: 40px 5px;
}